.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(201, 201, 201);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    @media screen and (min-width: 1500px) {
        box-shadow: 0 10px 5px rgb(201, 201, 201);
    }
    h2 {
        padding: 2rem;
    }
    input,select,option {
        width: 80%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        color: #333;
        background-color: #f5f5f5;
        transition: all 0.3s ease;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        &:focus {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border: none;
        }

        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        /* For devices with larger screen */
        @media (min-width: 768px) {
            width: 80%;
        }
    }

}

.library-surahs {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    cursor: pointer;
    img {
        width: 60%;
        object-fit: cover;
        height: 80px;
        width: 80px;
    }
    &:hover {
        background-color: #c6eeff;
        transition: background 0.5s ease;
    }
    .surah-info {
        p:nth-child(3) {
            // background-color: red;
            font-size: .75rem;
        }
    }
}
.surah-description {
    padding-left: 1rem;
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

.selected {
    background-color: #c6eeff;
}
.active-library {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}
@media screen and (min-width: 1500px) {
    .library {
        // background-color: red;
    }
}

@media (prefers-color-scheme: dark) {
    .library {
        background-color: black;
        @media screen and (min-width: 1500px) {
            box-shadow: 0 10px 5px rgb(20, 19, 19);
        }
        p {
            color: #c7c7c7;
        }
    }
    .library-surahs {
        &:hover {
            background-color: #04415c;
        }
    }
    .selected {
        background-color: #04415c;
    }
}