.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(201, 201, 201);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    h2 {
        padding: 2rem;
    }
    input {
        width: 80%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1rem; /* increase the font size for better readability */
        color: #333; /* dark color for text */
        background-color: #f5f5f5; /* light grey color for input background */
        transition: all 0.3s ease; /* smooth transition for hover and focus effects */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow for a 3D effect */
    
        &:focus {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* more shadow on focus */
            border: none;
        }
    
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* more shadow on hover */
        }
    
        /* For devices with larger screen */
        @media (min-width: 768px) {
            width: 80%;
        }
    }
    
}

.library-surahs {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    cursor: pointer;
    img {
        width: 60%;
        object-fit: cover;
        height: 80px;
        width: 80px;
    }
    &:hover {
        background-color: #c6eeff;
        transition: background 0.5s ease;
    }
}
.surah-description {
    padding-left: 1rem;
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

.selected {
    background-color: #c6eeff;
    color: #f2f2f2;
}
.active-library {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}
