.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(201, 201, 201);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        padding: 2rem;
    }
}

.library-surahs {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    cursor: pointer;
    img {
        width: 60%;
        object-fit: cover;
        height: 80px;
        width: 80px;
    }
    &:hover {
        background-color: #87CEEB;
        transition: background 0.5s ease;
    }
}
.surah-description {
    padding-left: 1rem;
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

.selected {
    background-color: #87CEEB;
    color: #f2f2f2;
}
.active-library {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}
