nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;

    div {
        display: flex;
        gap: 1rem;
    }
    ul,
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background: transparent;
        cursor: pointer;
        border: 2px solid rgb(65, 65, 65);
        padding: 1rem;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgb(65, 65, 65);
            color: #f2f2f2;

            a {
                color: #f2f2f2;
            }
        }

        svg {
            path {
                width: 50px;
                height: 50px;
            }
        }
    }

    h1 {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }
    .dropdown-container {
        position: relative;

        &.open {
            .dropdown-content {
                display: flex;
                flex-direction: column;
                transform: translateY(0);
                opacity: 1;
                pointer-events: all;
            }
        }

        .dropdown-content {
            transition: transform 0.3s ease, opacity 0.3s ease;
            transform: translateY(-10%);
            position: absolute;
            top: 105%;
            right: 0;
            width: 120px;
            background-color: #fff;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            opacity: 0;
            pointer-events: none;
            z-index: 999;
            li {
                color: white;
                padding: 8px 12px;
                cursor: pointer;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        position: relative;

        div {
            display: flex;
            gap: 0.75rem;
        }

        button {
            z-index: 10;
            position: sticky;
        }
    }

    @media (prefers-color-scheme: dark) {
        .dropdown-container {
            .dropdown-content {
                li {
                    color: black;
                }
            }
        }
        h1 {
            color: #f2f2f2;
        }

        button {
            border: 2px solid rgb(228, 225, 225);

            &:hover {
                background-color: #f2f2f2;
                color: #000;
            }

            a {
                color: #f2f2f2;
            }
        }
    }
}
