@font-face {
    font-family: "QCF_P001";
    src: url("/fonts/QCF_P001.ttf") format("truetype");
}

.page-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem;

    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
        .page {
            width: 20rem;
            min-height: 20rem;
            background-color: #1f2125;
            padding: 2rem;
            border-radius: 5px;
            p {
                font-size: 1.2rem;
                display: inline;
            }
            &:nth-child(2) {
                p {
                    text-align: center;
                    -webkit-background-clip: text;
                    background-clip: text;
                    direction: rtl;
                    font-family: "QCF_P001", serif;
                    font-size: 30px;
                }
            }
        }
    }
}
